<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_tQdgUNddEei_hIN6ENiOSQ" specification="" name="statechart_notation">
    <regions xmi:id="_tQeuc9ddEei_hIN6ENiOSQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_tQkOAdddEei_hIN6ENiOSQ">
        <outgoingTransitions xmi:id="_tQofcNddEei_hIN6ENiOSQ" target="_tQmDMtddEei_hIN6ENiOSQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_tQmDMtddEei_hIN6ENiOSQ" specification="entry/ ...&#xD;&#xA;always/ ...&#xD;&#xA;exit/ ..." name="StateA" incomingTransitions="_tQofcNddEei_hIN6ENiOSQ">
        <outgoingTransitions xmi:id="_SHItINdeEei_hIN6ENiOSQ" specification="Event[Condition]/Action" target="_Oq520NdeEei_hIN6ENiOSQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Oq520NdeEei_hIN6ENiOSQ" name="StateB" incomingTransitions="_SHItINdeEei_hIN6ENiOSQ">
        <regions xmi:id="_Oq6d4tdeEei_hIN6ENiOSQ" name="OthogoanlA">
          <vertices xsi:type="sgraph:State" xmi:id="_fRBUgNdeEei_hIN6ENiOSQ" name="SubStateB1" incomingTransitions="_56VVcNdeEei_hIN6ENiOSQ">
            <outgoingTransitions xmi:id="_ya69kNdeEei_hIN6ENiOSQ" specification="" target="_gweVENdeEei_hIN6ENiOSQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_gweVENdeEei_hIN6ENiOSQ" name="SubStateB2" incomingTransitions="_ya69kNdeEei_hIN6ENiOSQ">
            <outgoingTransitions xmi:id="_56VVcNdeEei_hIN6ENiOSQ" specification="" target="_fRBUgNdeEei_hIN6ENiOSQ"/>
          </vertices>
        </regions>
        <regions xmi:id="_Oq6d49deEei_hIN6ENiOSQ" name="OthogoanlB">
          <vertices xsi:type="sgraph:State" xmi:id="_hVftsNdeEei_hIN6ENiOSQ" name="SubStateB3" incomingTransitions="_9k3tgNdeEei_hIN6ENiOSQ">
            <outgoingTransitions xmi:id="_8Duq4NdeEei_hIN6ENiOSQ" specification="" target="_hsNkkNdeEei_hIN6ENiOSQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_hsNkkNdeEei_hIN6ENiOSQ" name="SubStateB4" incomingTransitions="_8Duq4NdeEei_hIN6ENiOSQ">
            <outgoingTransitions xmi:id="_9k3tgNdeEei_hIN6ENiOSQ" specification="" target="_hVftsNdeEei_hIN6ENiOSQ"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_tQeucNddEei_hIN6ENiOSQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_tQdgUNddEei_hIN6ENiOSQ" measurementUnit="Pixel">
    <children xmi:id="_tQgjoNddEei_hIN6ENiOSQ" type="Region" element="_tQeuc9ddEei_hIN6ENiOSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_tQi_4NddEei_hIN6ENiOSQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tQi_4dddEei_hIN6ENiOSQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tQi_4tddEei_hIN6ENiOSQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_tQjm8NddEei_hIN6ENiOSQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_tQk1ENddEei_hIN6ENiOSQ" type="Entry" element="_tQkOAdddEei_hIN6ENiOSQ">
          <children xmi:id="_tQlcINddEei_hIN6ENiOSQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_tQlcI9ddEei_hIN6ENiOSQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_tQlcJNddEei_hIN6ENiOSQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_tQmDMNddEei_hIN6ENiOSQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_tQlcIdddEei_hIN6ENiOSQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tQlcItddEei_hIN6ENiOSQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_tQk1EdddEei_hIN6ENiOSQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_tQk1EtddEei_hIN6ENiOSQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tQmDMdddEei_hIN6ENiOSQ" x="70" y="20" width="15" height="15"/>
        </children>
        <children xmi:id="_tQmqQtddEei_hIN6ENiOSQ" type="State" element="_tQmDMtddEei_hIN6ENiOSQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_tQnRUNddEei_hIN6ENiOSQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_tQnRUdddEei_hIN6ENiOSQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_tQnRUtddEei_hIN6ENiOSQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_tQnRU9ddEei_hIN6ENiOSQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_tQn4YNddEei_hIN6ENiOSQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tQn4YdddEei_hIN6ENiOSQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_tQn4YtddEei_hIN6ENiOSQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_tQmqQ9ddEei_hIN6ENiOSQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_tQmqRNddEei_hIN6ENiOSQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_tQn4Y9ddEei_hIN6ENiOSQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tQn4ZNddEei_hIN6ENiOSQ" x="38" y="91" width="95" height="77"/>
        </children>
        <children xmi:id="_ToiOdddeEei_hIN6ENiOSQ" type="State" element="_Oq520NdeEei_hIN6ENiOSQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_ToiOdtdeEei_hIN6ENiOSQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ToiOd9deEei_hIN6ENiOSQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ToiOeNdeEei_hIN6ENiOSQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ToiOeddeEei_hIN6ENiOSQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ToiOetdeEei_hIN6ENiOSQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ToiOe9deEei_hIN6ENiOSQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ToiOfNdeEei_hIN6ENiOSQ" type="StateFigureCompartment">
            <children xmi:id="_ToiOfddeEei_hIN6ENiOSQ" type="Region" element="_Oq6d4tdeEei_hIN6ENiOSQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_ToiOftdeEei_hIN6ENiOSQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_ToiOf9deEei_hIN6ENiOSQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_ToiOgNdeEei_hIN6ENiOSQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_ToiOgddeEei_hIN6ENiOSQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_fRB7kNdeEei_hIN6ENiOSQ" type="State" element="_fRBUgNdeEei_hIN6ENiOSQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_fRCioNdeEei_hIN6ENiOSQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_fRCioddeEei_hIN6ENiOSQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_fRCiotdeEei_hIN6ENiOSQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_fRCio9deEei_hIN6ENiOSQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_fRCipNdeEei_hIN6ENiOSQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fRCipddeEei_hIN6ENiOSQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_fRCiptdeEei_hIN6ENiOSQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_fRB7kddeEei_hIN6ENiOSQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_fRB7ktdeEei_hIN6ENiOSQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_fRCip9deEei_hIN6ENiOSQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fRB7k9deEei_hIN6ENiOSQ" x="11" y="25" width="111"/>
                </children>
                <children xmi:id="_gwfjMNdeEei_hIN6ENiOSQ" type="State" element="_gweVENdeEei_hIN6ENiOSQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_gwfjNNdeEei_hIN6ENiOSQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_gwfjNddeEei_hIN6ENiOSQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_gwfjNtdeEei_hIN6ENiOSQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_gwfjN9deEei_hIN6ENiOSQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_gwfjONdeEei_hIN6ENiOSQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gwfjOddeEei_hIN6ENiOSQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_gwfjOtdeEei_hIN6ENiOSQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_gwfjMddeEei_hIN6ENiOSQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_gwfjMtdeEei_hIN6ENiOSQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_gwfjO9deEei_hIN6ENiOSQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gwfjM9deEei_hIN6ENiOSQ" x="53" y="122"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ToiOgtdeEei_hIN6ENiOSQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_ToiOg9deEei_hIN6ENiOSQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ToiOhNdeEei_hIN6ENiOSQ"/>
            </children>
            <children xmi:id="_ToiOhddeEei_hIN6ENiOSQ" type="Region" element="_Oq6d49deEei_hIN6ENiOSQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_ToiOhtdeEei_hIN6ENiOSQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_ToiOh9deEei_hIN6ENiOSQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_ToiOiNdeEei_hIN6ENiOSQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_ToiOiddeEei_hIN6ENiOSQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_hVgUwddeEei_hIN6ENiOSQ" type="State" element="_hVftsNdeEei_hIN6ENiOSQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_hVg70NdeEei_hIN6ENiOSQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_hVg70ddeEei_hIN6ENiOSQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_hVg70tdeEei_hIN6ENiOSQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hVg709deEei_hIN6ENiOSQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_hVg71NdeEei_hIN6ENiOSQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVg71ddeEei_hIN6ENiOSQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hVhi4NdeEei_hIN6ENiOSQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_hVgUwtdeEei_hIN6ENiOSQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_hVgUw9deEei_hIN6ENiOSQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hVhi4ddeEei_hIN6ENiOSQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hVgUxNdeEei_hIN6ENiOSQ" x="10" y="24" width="117"/>
                </children>
                <children xmi:id="_hsOysNdeEei_hIN6ENiOSQ" type="State" element="_hsNkkNdeEei_hIN6ENiOSQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_hsOytNdeEei_hIN6ENiOSQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_hsOytddeEei_hIN6ENiOSQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_hsOyttdeEei_hIN6ENiOSQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hsOyt9deEei_hIN6ENiOSQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_hsOyuNdeEei_hIN6ENiOSQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hsOyuddeEei_hIN6ENiOSQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hsOyutdeEei_hIN6ENiOSQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_hsOysddeEei_hIN6ENiOSQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_hsOystdeEei_hIN6ENiOSQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hsOyu9deEei_hIN6ENiOSQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hsOys9deEei_hIN6ENiOSQ" x="31" y="115" width="115"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ToiOitdeEei_hIN6ENiOSQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_ToiOi9deEei_hIN6ENiOSQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ToiOjNdeEei_hIN6ENiOSQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ToiOjddeEei_hIN6ENiOSQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ToiOjtdeEei_hIN6ENiOSQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ToiOj9deEei_hIN6ENiOSQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ToiOkNdeEei_hIN6ENiOSQ" x="304" width="382" height="267"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tQjm8dddEei_hIN6ENiOSQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_tQgjodddEei_hIN6ENiOSQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tQkOANddEei_hIN6ENiOSQ" y="7" width="722" height="479"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_tQq7sNddEei_hIN6ENiOSQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_tQriwNddEei_hIN6ENiOSQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tQriwdddEei_hIN6ENiOSQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tQriwtddEei_hIN6ENiOSQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_tQriw9ddEei_hIN6ENiOSQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tQrixNddEei_hIN6ENiOSQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tQsJ0NddEei_hIN6ENiOSQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_tQeucdddEei_hIN6ENiOSQ" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_tQeuctddEei_hIN6ENiOSQ"/>
    <edges xmi:id="_tQptkNddEei_hIN6ENiOSQ" type="Transition" element="_tQofcNddEei_hIN6ENiOSQ" source="_tQk1ENddEei_hIN6ENiOSQ" target="_tQmqQtddEei_hIN6ENiOSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_tQqUoNddEei_hIN6ENiOSQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tQqUodddEei_hIN6ENiOSQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tQqUotddEei_hIN6ENiOSQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tQptkdddEei_hIN6ENiOSQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tQptk9ddEei_hIN6ENiOSQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tQptktddEei_hIN6ENiOSQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ax1YwNdfEei_hIN6ENiOSQ" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_SHJ7TNdeEei_hIN6ENiOSQ" type="Transition" element="_SHItINdeEei_hIN6ENiOSQ" source="_tQmqQtddEei_hIN6ENiOSQ" target="_ToiOdddeEei_hIN6ENiOSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_SHJ7TddeEei_hIN6ENiOSQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SHJ7TtdeEei_hIN6ENiOSQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SHJ7T9deEei_hIN6ENiOSQ" x="4" y="-20"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SHJ7UNdeEei_hIN6ENiOSQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SHJ7UddeEei_hIN6ENiOSQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SHJ7UtdeEei_hIN6ENiOSQ" points="[0, -6, -183, 3]$[184, -41, 1, -32]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SHJ7U9deEei_hIN6ENiOSQ" id="(0.8842105263157894,0.7792207792207793)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SHJ7VNdeEei_hIN6ENiOSQ" id="(0.011049723756906077,0.5740740740740741)"/>
    </edges>
    <edges xmi:id="_ya8LsNdeEei_hIN6ENiOSQ" type="Transition" element="_ya69kNdeEei_hIN6ENiOSQ" source="_fRB7kNdeEei_hIN6ENiOSQ" target="_gwfjMNdeEei_hIN6ENiOSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ya8LtNdeEei_hIN6ENiOSQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ya8LtddeEei_hIN6ENiOSQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ya8LttdeEei_hIN6ENiOSQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ya8LsddeEei_hIN6ENiOSQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ya8Ls9deEei_hIN6ENiOSQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ya8LstdeEei_hIN6ENiOSQ" points="[4, 48, 1, -51]$[4, 117, 1, 18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ya-A4NdeEei_hIN6ENiOSQ" id="(0.4024174528301887,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ya-A4ddeEei_hIN6ENiOSQ" id="(0.020833333333333332,0.6415094339622641)"/>
    </edges>
    <edges xmi:id="_56V8gNdeEei_hIN6ENiOSQ" type="Transition" element="_56VVcNdeEei_hIN6ENiOSQ" source="_gwfjMNdeEei_hIN6ENiOSQ" target="_fRB7kNdeEei_hIN6ENiOSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_56V8hNdeEei_hIN6ENiOSQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_56V8hddeEei_hIN6ENiOSQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_56V8htdeEei_hIN6ENiOSQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_56V8gddeEei_hIN6ENiOSQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_56V8g9deEei_hIN6ENiOSQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_56V8gtdeEei_hIN6ENiOSQ" points="[17, -27, -35, 63]$[57, -76, 5, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_56XxsNdeEei_hIN6ENiOSQ" id="(0.5729166666666666,0.03773584905660377)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_56XxsddeEei_hIN6ENiOSQ" id="(0.8918918918918919,0.7169811320754716)"/>
    </edges>
    <edges xmi:id="_8DwgENdeEei_hIN6ENiOSQ" type="Transition" element="_8Duq4NdeEei_hIN6ENiOSQ" source="_hVgUwddeEei_hIN6ENiOSQ" target="_hsOysNdeEei_hIN6ENiOSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_8DxHINdeEei_hIN6ENiOSQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8DxHIddeEei_hIN6ENiOSQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8DxHItdeEei_hIN6ENiOSQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8DwgEddeEei_hIN6ENiOSQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8DwgE9deEei_hIN6ENiOSQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8DwgEtdeEei_hIN6ENiOSQ" points="[6, 48, -4, -35]$[12, 78, 2, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8DyVQNdeEei_hIN6ENiOSQ" id="(0.39316239316239315,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8DyVQddeEei_hIN6ENiOSQ" id="(0.30434782608695654,0.11320754716981134)"/>
    </edges>
    <edges xmi:id="_9k4UkNdeEei_hIN6ENiOSQ" type="Transition" element="_9k3tgNdeEei_hIN6ENiOSQ" source="_hsOysNdeEei_hIN6ENiOSQ" target="_hVgUwddeEei_hIN6ENiOSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_9k4UlNdeEei_hIN6ENiOSQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9k4UlddeEei_hIN6ENiOSQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9k4UltdeEei_hIN6ENiOSQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9k4UkddeEei_hIN6ENiOSQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9k4Uk9deEei_hIN6ENiOSQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9k4UktdeEei_hIN6ENiOSQ" points="[0, 0, -32, 40]$[37, -30, 5, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9k5isNdeEei_hIN6ENiOSQ" id="(0.6521739130434783,0.05660377358490567)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9k5isddeEei_hIN6ENiOSQ" id="(0.8717948717948717,0.8113207547169812)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
