package Model.APPS.I2C_SLAVE.v4_0_14.Templates;

import Model.APPS.I2C_SLAVE.v4_0_14.I2C_SLAVE

out.print("""
/**
 * @cond
 ***********************************************************************************************************************
 *
 * Copyright (c) 2015-2016, Infineon Technologies AG
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without modification,are permitted provided that the
 * following conditions are met:
 *
 *   Redistributions of source code must retain the above copyright notice, this list of conditions and the  following
 *   disclaimer.
 *
 *   Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
 *   following disclaimer in the documentation and/or other materials provided with the distribution.
 *
 *   Neither the name of the copyright holders nor the names of its contributors may be used to endorse or promote
 *   products derived from this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES,
 * INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE  FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY,OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT  OF THE
 * USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 *
 * To improve the quality of the software, users are encouraged to share modifications, enhancements or bug fixes
 * with Infineon Technologies AG (dave@infineon.com).
 ***********************************************************************************************************************
 *
 * Change History
 * --------------
 *
 * 2015-08-27:
 *     - Initial version<br>
 *
 * 2016-07-08:
 *     - Fixed incorrect case for an included header.<br>
 *
 * @endcond
 *
 */

#ifndef I2C_SLAVE_CONF_H
#define I2C_SLAVE_CONF_H

/***********************************************************************************************************************
 * HEADER FILES
 **********************************************************************************************************************/

/**********************************************************************************************************************
 * MACROS
 **********************************************************************************************************************/
""");

String appInst  = null;
Integer dma_tx_instance = 0;
Integer dma_rx_instance = 0;
Integer intr_tx_instance = 0;
Integer intr_rx_instance = 0;
Integer intr_err_instance = 0;
Integer direct_tx_instance = 0;
Integer direct_rx_instance = 0;
List TxInterrupt_Uri = null
List RxInterrupt_Uri = null
List ErrInterrupt_Uri = null
String Tx_node = null
String Rx_node = null
String Err_node = null

out.print("""
#define I2C_SLAVE_MAJOR_VERSION ${(I2C_SLAVE.version).findAll( /\d+/ )*.toInteger()[0]}U
#define I2C_SLAVE_MINOR_VERSION ${(I2C_SLAVE.version).findAll( /\d+/ )*.toInteger()[1]}U
#define I2C_SLAVE_PATCH_VERSION ${(I2C_SLAVE.version).findAll( /\d+/ )*.toInteger()[2]}U
""");

for (I2C_SLAVE i2cInst : appInstancesList )
{
  appInst = i2cInst.getInstanceLabel()
  
if(i2cInst.gcombo_transmit_mode.value == "DMA")
{
  dma_tx_instance++;
}
if(i2cInst.gcombo_receive_mode.value == "DMA")
{
  dma_rx_instance++;
}

if(i2cInst.gcombo_transmit_mode.value == "Direct")
{
  direct_tx_instance++;
}
if(i2cInst.gcombo_receive_mode.value == "Direct")
{
  direct_rx_instance++;
}

if(i2cInst.gcombo_transmit_mode.value == "Interrupt")
{
  intr_tx_instance++;
  TxInterrupt_Uri = i2cInst.hwres_nvic_node_i2c_tx.getSolverUri();
  Tx_node = TxInterrupt_Uri[-1]
  /*IRQ handler redefinition with APP handle specific names*/
  out.print("""
#define ${i2cInst.getInstanceLabel()}_TX_HANDLER  IRQ_Hdlr_${Tx_node}""")
}
if(i2cInst.gcombo_receive_mode.value == "Interrupt")
{
  intr_rx_instance++;
  RxInterrupt_Uri = i2cInst.hwres_nvic_node_i2c_rx.getSolverUri();
  Rx_node = RxInterrupt_Uri[-1]
  /*IRQ handler redefinition with APP handle specific names*/
  out.print("""
#define ${i2cInst.getInstanceLabel()}_RX_HANDLER  IRQ_Hdlr_${Rx_node}""")
}

if((i2cInst.gcheck_error_callback.value == true) || (i2cInst.gcheck_read_request.value == true))
{
  intr_err_instance++;
  ErrInterrupt_Uri = i2cInst.hwres_nvic_node_i2c_error.getSolverUri();
  Err_node = ErrInterrupt_Uri[-1]
  out.print("""
#define ${i2cInst.getInstanceLabel()}_ERR_HANDLER  IRQ_Hdlr_${Err_node}""")
}
}


if(dma_tx_instance > 0)
{
out.print("""
#define I2C_SLAVE_TX_DMA_USED""")
}

if(dma_rx_instance > 0)
{
out.print("""
#define I2C_SLAVE_RX_DMA_USED""")
}

if(direct_tx_instance > 0)
{
out.print("""
#define I2C_SLAVE_TX_DIRECT_USED""")
}

if(direct_rx_instance > 0)
{
out.print("""
#define I2C_SLAVE_RX_DIRECT_USED""")
}

if(intr_tx_instance > 0)
{
out.print("""
#define I2C_SLAVE_TX_IRQ_USED""")
}

if(intr_rx_instance > 0)
{
out.print("""
#define I2C_SLAVE_RX_IRQ_USED""")
}

if(intr_err_instance > 0)
{
out.print("""
#define I2C_SLAVE_ERR_IRQ_USED""")
}

if((intr_rx_instance > 0) || (intr_tx_instance > 0) || (intr_err_instance > 0))
{
  out.print("""
#define I2C_SLAVE_IRQ_USED""")
}
out.print("""

#endif /* End of I2C_SLAVE_CONF_H */
""");

